name: Compile and Deploy


on: 
  workflow_dispatch:
  push:
    branches:
      - main
    paths: 
      - 'WebAPI/**'
      - 'WebApiTest/**'
      - '.github/workflows/compile-and-deploy.yml'
env:
  DOTNET_VERSION: '9'
  AZURE_APP_SERVICE_NAME: WebAPI20260118235245
  AZURE_APP_SERVICE_LOCATION_PACKAGE: '.'

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      project: WebAPI/WebAPI.csproj
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.2

      - name: Instalar .NET
        uses: actions/setup-dotnet@v4.3.0
        with:
          dotnet-version: ${{env.DOTNET_VERSION}}

      - name: Obteniendo la dependencias
        run: dotnet restore

      - name: Compilar
        run: dotnet build --no-restore
        
      - name: Realizar Pruebas
        run:  dotnet test --no-build
        
      - name: Public WebApi
        run: dotnet publish $project -c Release --runtime win-x86

      - name: Upload Artifact
        uses: actions/upload-artifact@v6.0.0
        with:
          path: ./myapp
          name: build
  deploy:
    permissions: 
      contents: none
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Get Artifacts
        uses: actions/download-artifact@v7.0.0
        with:
          name: build

      - name: Deployment Azure Web Service
        uses: Azure/webapps-deploy@v2
        with:
          app-name: ${{ env.AZURE_APP_SERVICE_NAME }}
          publish-profile: ${{ secrets.AZURE_PUBLIC_PROFILE }}
          package: ${{ env.AZURE_APP_SERVICE_LOCATION_PACKAGE }}
  
